.wrapper {
    padding: 25px;
}

.post {
    border: 2px solid;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.post span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 212px;
}